<!DOCTYPE html>

<html>

<head>
     <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
        {{>header}}
        <div class = "main-content"></div>
        <img class="portrait" src="img\IMG_0303.jpg">
        </div>
        {{>footer}}
</body>



</html>